---
layout: default
title: Home
---

<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm <strong class="author-name" itemprop="name">Maurício Aniche</strong>, a <em itemprop="jobTitle">Software Engineering Researcher at TU Delft</em>. <br>

{% include bio.html %}

  </div>
</section>


<section>

<div class="container">

    <h2>Latest News</h2>

    {% include news.html %}
    
</div>
</section>

<section class="post-list">
  <div class="container">

    <h2>My thoughts on software engineering (aka Blog)</h2>

    <ul>
    {% for post in site.categories.english limit:10 %}
    <li>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>  — <strong><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></strong>
    </li>
    {% endfor %}
    </ul>

  </div>

</section>

