<div class="minibio">
<p>
<strong>About me.</strong> I am currently a postdoc researcher at the Software Engineering Research Group (SERG) that
is led by Prof. Dr. Arie van Deursen, at Delft University of Technology. I play
several roles in the group, such as conduct my own research, support PhDs and MSc students 
in their research, and help to teach the software engineering courses that we provide
at the university.
</p>

<p>
<strong>Research.</strong> My primary research interest is web engineering, and more specifically in empirical software engineering, software testing, software architecture, and software maintenance. 
I definitely acknowledge the myriad of amazing contributions practitioners
have provided to the Web Engineering world. However, in many occasions,
they lack tools and knowledge to actually understand the effects of their own creations
in the broader picture. 
<em>We researchers
have the skills to step in and help them improve their current practices</em>. Thus,
my preferred focus is to understand 
the challenges faced by developers in a certain activity by means of
rigorous Empirical Software Engineering research; with a clear problem
in hands, I build approaches, techniques, recommenders, tools, or even
educational material that will help them to improve their jobs.
</p>

<p>
<strong>Education.</strong> I got my PhD from University of São Paulo (2016), where I proposed 
context-aware code metrics and smells for MVC-based software systems. I got
my MSc degree also at University of São Paulo (2012), where I studied the perceptions
of software developers on Test-Driven Development.
</p>

<p>
<strong>Teaching.</strong> 
I definitely enjoy education. As an associate at <a href="http://www.caelum.com.br">Caelum</a>, a Brazilian training company, I trained 996 different students in a total of 1,928 hours, and visited 27 different companies in 12 different cities. Together with Caelum, I co-founded <a href="http://www.alura.com.br">Alura</a>, the most popular e-learning platform for software engineers in Brazil. During this period, I developed 37 online courses in several software engineering topics: : web development, C#, automated software testing,
refactoring, Clojure, Javascript, and Design Patterns are some of them.  
</p>

<p>
<strong>Book author.</strong> 
To support my training and consultancy activities, I have authored <a href="/books">books</a> (in portuguese) about TDD, automated software testing in practice, Object-Oriented design, and introduction to C Programming, which have sold more than 7k copies. The TDD book, in particular, has been used in many universities in Brazil.
</p>

<p>
<strong>Industry experience.</strong> 
I also have substantial experience as a software developer in industry. I worked as software developer for Caelum and Alura (5 years), Locaweb (1 year), and VeriFone (3 years). These experiences made me favour applied research.
</p>


</div>