<p class="lead"><strong>Maurício Aniche</strong>, <span style="background-color: #a6eda6;">Tech Lead at Adyen</span> and <span style="background-color: #c0c0ff;">former assistant professor in software engineering at TU Delft</span>.<br>
	
<div class="minibio">

<div style="width:22%;display:inline;float:left;margin-bottom:1em;margin-right:1em;">
<img src="assets/images/photo2018.jpg" class="my-photo">
</div>
	<div>
		<p><strong>Adyen.</strong> I'm lead the Testing Enablement team at Adyen. Our team focuses on making sure our engineers have the right tools at hand to ensure the quality of their software systems.


		<p><strong>TU Delft.</strong>
		I used to be an assistant professor in Software Engineering. My research focused on <a href="/research">helping developers to effectively maintain and evolve
		their software systems</a>. I also taught Software Testing and Quality (CS1110) to computer science bachelor students for many years. 
		</p>

		<p>
		<strong>Background.</strong> I got my PhD (2016) and MSc (2012) degrees
		in Computer Science at University of São Paulo (USP), Brazil. I worked as a software developer for Caelum/Alura, Locaweb, and VeriFone. 
		I co-founded <a href="http://www.alura.com.br">Alura</a>, the most popular e-learning platform for software engineers in Brazil.
		</p>

		<p>
		<strong>Book author.</strong> 
		I am the author of <a href="https://www.effective-software-testing.com">Effective Software Testing: A Developer's Guide</a> (2022), and <a href="https://www.simple-object-oriented-design.com/">Simple Object-Oriented Design</a> (2024), both published by Manning. I have also authored <a href="/books">books on Test-Driven Development and on the SOLID principles</a>, in Brazilian Portuguese. 
		</p>

	</div>
</div>
