<div class="minibio">

<div style="width:22%;display:inline;float:left;margin-bottom:1em;margin-right:1em;">
<img src="assets/images/photo2017.jpg" class="my-photo">
</div>
	<div>
		<p>
		I <strong><a href="/research">help developers to effectively maintain and evolve
		their software systems</a></strong>. My current
		research interests are software maintenance,
		runtime monitoring and DevOps, 
		and software testing.
		</p>

		<p>
		<strong>Education.</strong> I got my PhD (2016) and MSc (2012) degrees
		in Computer Science at University of São Paulo (USP), Brazil.
		</p>

		<p>
		<strong>Teaching.</strong> 
		I currently teach Software Testing and Quality (Computer Science bachelor), Software Architecture (Software Engineering MSc track), and
		Software Engineering Methods (Computer Science minor).
		</p>

		<p>
		<strong>Industry experience.</strong> 
		Before moving to academia, I worked as a software developer at Caelum (5 years), Locaweb (1 year), and VeriFone (3 years). 
		Together with Caelum, I co-founded <a href="http://www.alura.com.br">Alura</a>, the most popular e-learning platform for software engineers in Brazil.
		</p>

		<p>
		<strong>Book author.</strong> 
		I have authored <a href="/books">books</a> about TDD, software testing automation, Object-Oriented Design, and introduction to C programming. Together, they have sold
		around 10k copies.
		</p>

	</div>
</div>