
<ul>

  <li>June/23: I'll give a keynote at the SEN Symposium. What an honor!</li>

  <li>Apr/23: My new book, "<a href="https://www.manning.com/books/simple-object-oriented-design">Simple Object-Oriented Design</a>" is now on early access at Manning</li>

  <li>November/22: I'll give a talk about <a href="https://www.mauricioaniche.com/talks/effective-developer-testing/">effective software testing</a> at JFall 2022, in Ede!</li>

  <li>September/22: I'll give a talk about onboarding and upskilling engineers at <a href="https://www.devleaders.com.br/">DevLeaders 2022</a> in São Paulo!</li>
  
  <li>May/22: I'll give a talk at TEQnation 2022!</li>

  <li>April/22: My book is finally in print!</li>

  <li>November/21: My new book, <a href="https://www.effective-software-testing.com">Effective Software Testing: A Developer's Guide</a>, was just published by Manning. I hope you enjoy it!

  <li>October/21: I am now <a href="https://www.adyen.com">Adyen</a>'s Tech Lead Academy. I reduced my work hours at TU Delft.</li>

  <li>July/21: I was ranked among the top 20 most active early-stage career researchers in software engineering in a <a href="https://doi.org/10.1016/j.jss.2021.111029">recent paper</a>.</li>

  <li>June/21: I was <a href="https://www.tudelft.nl/en/eemcs/current/humans-of-eemcs/mauricio-aniche">elected the Teacher of Year</a> of both the Computer Science department and the entire EEMCS. I am honored!</li>

  <li>May/21: We are proudly presenting 10 research papers at ICSE 21. Download the papers and see their short videos: <a href="https://www.mauricioaniche.com/icse21">https://www.mauricioaniche.com/icse21</a>.</li>

  <li>Dec/20: I was awarded with a <a href="https://www.tudelft.nl/tu-delft-teaching-academy/get-inspired/education-fellows/">TU Delft Education Fellowship</a> due to my efforts in software testing education. I will develop a serious platform for software testing education. Stay tuned!</li>


</ul>