
<ul>

  <li>July/21: I was ranked among the top 20 most active early-stage career researchers in software engineering in a <a href="https://doi.org/10.1016/j.jss.2021.111029">recent paper</a>.</li>

  <li>June/21: I was elected the Teacher of Year of both the Computer Science department and the entire EEMCS. I am honored!</li>

  <li>May/21: We are proudly presenting 10 research papers at ICSE 21. Download the papers and see their short videos: <a href="https://www.mauricioaniche.com/icse21">https://www.mauricioaniche.com/icse21</a>.</li>

  <li>Dec/20: I was awarded with a <a href="https://www.tudelft.nl/tu-delft-teaching-academy/get-inspired/education-fellows/">TU Delft Education Fellowship</a> due to my efforts in software testing education. I will develop a serious platform for software testing education. Stay tuned!</li>

  <li>Dec/19: I am now the coordinator of TU Delft's MSc in Data Science and Technology.</li>

  <li>Dec/19: I'll attend the Shonan Meeting on Release Engineering for Mobile Apps and will give a keynote at the IWESEP! See you in Shonan and in Tokyo!</li>

  <li>Oct/19: I'll attend the JSPS + NWO joint meeting on Mining Software Repositories. See you in Kyoto!</li>

</ul>