
<ul>

  <li>Dec/19: I'll attend the Shonan Meeting on Release Engineering for Mobile Apps and will give a keynote at the IWESEP! See you in Shonan and in Tokyo!</li>

  <li>Dec/19: I'll give a <a href="/talks/testing-in-production/">talk on Software Monitoring</a> at the CHOOSE forum. See you in Switzerland!</li>

  <li>Oct/19: I'll attend the JSPS + NWO joint meeting on Mining Software Repositories. See you in Kyoto!</li>

  <li>Aug/19: I'll be at FSE 2019. See you in Estonia!</li>

  <li>
    Jul/19: Paper at ICSME: <a href="https://pure.tudelft.nl/portal/en/publications/comprehending-test-code-an-empirical-study(8c997432-398c-44da-8ec4-5b00fa7a4416).html">Comprehending Test Code: An Empirical Study</a>.
  </li>

  <li>
    Jul/19: Paper at EMSE: <a href="https://pure.tudelft.nl/portal/en/publications/an-empirical-catalog-of-code-smells-for-the-presentation-layer-of-android-apps(e79aac89-295c-413b-9ca1-1140ddd3db14).html">An Empirical Catalog of Code Smells for the Presentation Layer of Android Apps</a>.
  </li>

  <li>
    Jun/19: Paper at FSE 2019: <a href="https://pure.tudelft.nl/portal/en/publications/monitoringaware-ides(88f9c01f-eae2-4514-b49b-c3a388eeda53).html">Monitoring-Aware IDEs</a>.
  </li>

  <li>
    Mar/19: Paper at MSR 2019: <a href="https://pure.tudelft.nl/portal/en/publications/tracing-back-log-data-to-its-log-statement-from-research-to-practice(9fc4a63c-57bf-4a80-aca2-48f5a8fb08a3).html">Tracing Back Log Data to its Log Statement: From Research to Practice</a> (short practice paper).
  </li>

  <li>
    Feb/19: Two papers at ICSE 2019: <a href="https://pure.tudelft.nl/portal/en/publications/current-challenges-in-practical-objectoriented-software-design(fb65f714-1771-4446-9114-73ee302d5693).html">Current Challenges in Practical Object-Oriented Software Design</a> (short paper) and <a href="https://pure.tudelft.nl/portal/en/publications/factors-affecting-cloud-infraservice-development-lead-times-a-case-study-at-ing(b18f4405-c784-4bf0-8a25-d71e042f85b1).html">Factors Affecting Cloud Infra-Service Development Lead Times: A Case Study at ING</a> (industry track).
  </li>

</ul>