
<div class="poster">
	<div class="poster-title">{{ post.title }}</div>
	<span class="authors">{{ post.authors }}</span>
	<span class="conference">{{ post.conference }}, {{ post.year }}</span>

	<div class="poster-description">
	{{ post.content }}
	</div>

  <div class="publication-videos">
{% if post.videoen %}
<div class="publication-video wise-iframe-wrapper">
<p>Watch a summary of the paper (in English):</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ post.videoen }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}    

  </div>

  {% if post.download %}
	<div class="publication-links">
	<a class="publication-button" href="{{ post.download }}">Download the paper</a>
	</div>
  {% else %}
	<div class="publication-links">
	(Pre-print soon)
	</div>
  {% endif %}
</div>

