
<div class="poster">
	<div class="poster-title">{{ post.title }}</div>
	<span class="authors">{{ post.authors }}</span>
	<span class="conference">{{ post.conference }}, {{ post.year }}</span>
	
	<div class="poster-description">
	{{ post.content }}
	</div>

  <div class="publication-videos">
{% if page.videoen %}
<div class="publication-video">
<p>Watch a summary of the paper (in English):</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.videoen }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}    
{% if page.videopt %}
<div class="publication-video">
<p>Watch a summary of the paper (in Brazilian Portuguese):</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.videopt }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}

  </div>

	<div class="publication-button-div">
	<a class="publication-button" target="_blank" href="{{ poster.download }}">Download the paper</a>
	</div>

</div>

