
@import "bourbon/bourbon";

@import "variables";
@import "base/base";

@import "layout";
@import "syntax-highlighting";

ol, ul {
	list-style-type: circle;
	margin-left: 30px;
	margin-bottom: 30px;
}

strong {
	font-weight: bold;
}

.minibio {
	font-size: 0.9em;
	text-align: justify;
}

em {
	font-style: italic;
}