---
layout: default
---
<div class="post">

  <header class="post-header">

      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>

    <div class="post-meta">
      <div>{{ page.authors }}</div>
      {% if page.conference %}
      <div>{{ page.conference }}, {{ page.year }}</div>
      {% else %}
      <div>Non-peer reviewed version (under submission), {{ page.year }}</div>
      {% endif %}
      {% if page.doi %}
      <div>DOI: <a href="https://doi.org/{{ page.doi }}">{{ page.doi }}</a></div>
      {% endif %}
    </div>
  </header>

  <div class="post-content publication-abstract" itemprop="articleBody">
    {{ content }}
  </div>

  {% if page.download %}
  <div class="publication-links">
    <a class="publication-button" href="{{ page.download }}">Download the paper</a>
  </div>
  {% else %}
  <div class="publication-links">
    (Pre-print soon!)
  </div>
  {% endif %}

  <div class="publication-videos">
{% if page.videoen %}
<p>Watch a summary of the paper (in English):</p>
<div class="publication-video">
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.videoen }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}    
{% if page.videopt %}
<div class="publication-video">
<p>Watch a summary of the paper (in Brazilian Portuguese):</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.videopt }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endif %}

  </div>

{% assign bibslug = '{' | append: page.slug %}
  <div class="publication-bibtex">
    <p>BibTeX:</p>

{% if page.categories contains 'journal' %}
    <pre>
@article{aniche-{{ bibslug }},
    author  = "{{ page.authors | replace: ", ", " and " }}",
    title   = "{{ page.title }}",
    journal = "{{ page.conference }}",
    year    = {{ page.year}},
    doi     = "{{ page.doi }}"
}
</pre>
{% endif %}

{% if page.categories contains 'conference' or page.categories contains 'workshop' %}
    <pre>
@inproceedings{aniche-{{ bibslug }},
    author  = "{{ page.authors | replace: ", ", " and " }}",
    title   = "{{ page.title }}",
    booktitle = "Proceedings of {{ page.conference | replace: 'The ' , 'the ' }}",
    year    = {{ page.year}},
    doi     = "{{ page.doi }}"
}
</pre>
{% endif %}

{% if page.categories contains 'arxiv' %}
    <pre>
@misc{aniche-{{ bibslug }},
    author  = "{{ page.authors | replace: ", ", " and " }}",
    title   = "{{ page.title }}",
    howpublished = "{{ page.download }}",
    year    = {{ page.year}}
}
</pre>
{% endif %}
  </div>


</div>
